/* ===== GENERAL ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f3f6fb;
    font-family:Arial,sans-serif;
    color:#222;
}

/* ===== HEADER ===== */

.topbar{
    height:60px;
    display:flex;
    align-items:center;
    gap:15px;
    padding:0 16px;
    background:#fff;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.topbar button{
    border:none;
    background:none;
    font-size:24px;
    cursor:pointer;
}

.topbar h1{
    font-size:24px;
    color:#148a1d;
}

/* ===== CONTAINER ===== */

.container{
    padding:18px;
}

/* ===== SECTION TITLE ===== */

.sectionTitle{
    color:#148a1d;
    font-size:18px;
    margin:25px 0 12px;
}

/* ===== SUMMARY ===== */

.summary-card{
    background:#fff;
    border-radius:22px;
    padding:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.summary-left .small{
    color:#666;
    font-size:14px;
}

.summary-left h2{
    margin-top:5px;
    font-size:34px;
    color:#148a1d;
}

#updatedDate{
    color:#777;
    margin-top:6px;
    font-size:13px;
}

.summary-right{
    text-align:right;
}

.trendIcon{
    font-size:30px;
}

#trendTitle{
    margin-top:6px;
    font-weight:bold;
}

#trendValue{
    margin-top:5px;
    font-size:18px;
}

/* ===== GRAPH ===== */

.chartCard{
    background:#fff;
    border-radius:22px;
    padding:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

#trendChart{
    width:100%;
    height:300px;
}

#gridLines line{
    stroke:#dddddd;
    stroke-width:1;
}

#pointGroup circle{
    fill:#fff;
    stroke:#148a1d;
    stroke-width:3;
}

#xLabels text,
#yLabels text{
    fill:#666;
    font-size:11px;
}

/* ===== STATS ===== */

.statsGrid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:14px;
}

.statCard{
    background:#fff;
    border-radius:18px;
    padding:18px;
    text-align:center;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
}

.statCard .label{
    color:#777;
    font-size:14px;
    margin-bottom:10px;
}

.statCard div:last-child{
    font-size:24px;
    font-weight:bold;
    color:#148a1d;
}

/* ===== TABLE ===== */

.historyTable{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.historyTable th{
    background:#148a1d;
    color:#fff;
    padding:15px;
}

.historyTable td{
    padding:16px;
    border-bottom:1px solid #eee;
    text-align:center;
}

.historyTable tr:last-child td{
    border-bottom:none;
}

/* ===== TREND COLORS ===== */

.trend-up{
    color:#148a1d;
}

.trend-down{
    color:#d32f2f;
}

.trend-same{
    color:#555;
}
